.dataTable, .dataTables_filter, .dataTables_info {
  font-size: .8rem;
}
table.dataTable thead th {
  border-bottom: unset;
  border: 1px solid rgba(0, 0, 0, 0.3);
  text-align: center !important;
}
table.dataTable tbody th,
table.dataTable tbody td {
  padding: 4px 4px !important;
}
table.dataTable>tbody>tr.child ul.dtr-details>li {
  padding: 0;
}