body {
  max-width: 500px;
  padding: 2em;
}
button {
  margin-bottom: .5em;
}
@media all and (max-width: 600px) {
  body {
    max-width: unset;
  }
  input {
    width: 18ch;
  }
  .responsive-cell-empty {
    display: none;
  }
  .responsive--collapse > .responsive-cell--foot {
    margin-bottom: 1em;
  }
}
